<a href="{% url 'article_detail' id=article.id %}" class="lib-card-link lib-card-item"
   data-search="{{ article.titre|lower }} {{ article.auteur|lower }} {{ article.categorie.nom|lower }} {{ article.contenu|lower }}">
    <article class="lib-card lib-card-horizontal">
        <div class="lib-card-cover">
            {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.titre }}">
            {% else %}
            <div class="lib-cover-fallback {% cycle 'cover-1' 'cover-2' 'cover-3' 'cover-4' 'cover-5' 'cover-6' %}">
                <span>{{ article.categorie.nom }}</span>
            </div>
            {% endif %}
        </div>
        <div class="lib-card-body">
            <h3 class="lib-card-title">{{ article.titre }}</h3>
            <p class="lib-card-year">{{ article.date_publication|date:"Y" }}</p>
            <div class="lib-stars" aria-hidden="true">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p class="lib-card-excerpt">{{ article.contenu|truncatechars:160 }}</p>
        </div>
    </article>
</a>
