<a href="{% url 'article_detail' id=article.id %}" class="lib-card-link lib-card-item"
   data-search="{{ article.titre|lower }} {{ article.auteur|lower }} {{ article.categorie.nom|lower }} {{ article.contenu|lower }}">
    <article class="lib-card">
        <div class="lib-cover {% if article.image %}lib-cover--photo{% else %}{% cycle 'cover-1' 'cover-2' 'cover-3' 'cover-4' 'cover-5' 'cover-6' 'cover-7' 'cover-8' 'cover-9' 'cover-10' 'cover-11' 'cover-12' 'cover-13' 'cover-14' %}{% endif %}"
             {% if article.image %}style="background-image: url('{{ article.image.url }}');"{% endif %}>
            <span>{{ article.categorie.nom }}</span>
        </div>
        <h3>{{ article.titre }}</h3>
        <p>{{ article.auteur }} · {{ article.date_publication|date:"Y" }}</p>
    </article>
</a>
